<div class="container">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Dummy</th>
      <th>Dummy</th>
      <th>Dummy</th>
      <th>Dummy</th>
      <th>Dummy</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of xmlItems">
      <td>{{item.CGPCGP}}</td>
      <td>{{item.CGPDSC}}</td>
      <td>{{item.CGPPIM}}</td>
      <td>{{item.CGPPTR}}</td>
      <td>{{item.CGPLCUSR}}</td>
      <td>{{item.CGPLCDAT}}</td>
      <td>{{item.CGPDLT}}</td>
      <td><button type="button" (click)="updateCustomer(item.CGPCGP)">Edit</button></td>
    </tr>
  </table>
</div>
