<div class="container">
  <h2>Update Customer Info</h2>
  <div style="width: 400px;">
    <!-- <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control w-100" [(ngModel)]="details.CGPCGP" name="CGPCGP" placeholder="CGPCGP">
      </div>
       <div class="form-group">
        <input type="text" class="form-control w-100" formControlName="CGPDLT" name="CGPDLT" placeholder="CGPDLT">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-100" formControlName="CGPDSC" name="CGPDSC" placeholder="CGPDSC">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-100" formControlName="CGPLCDAT" name="CGPLCDAT" placeholder="CGPLCDAT">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-100" formControlName="CGPLCUSR" name="CGPLCUSR" placeholder="CGPLCUSR">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-100" formControlName="CGPPIM" name="CGPPIM" placeholder="CGPPIM">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-100" formControlName="CGPPTR" name="CGPPTR" placeholder="CGPPTR">
      </div> 
    </form>
    <button type="submit" class="btn btn-success">Submit</button> -->
  </div>
