<div class="container mt-5">
  <h4>{{header}}</h4>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="">CGPCGP</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPCGP" name="CGPCGP" />
    </div>
    <div class="form-group">
      <label for="">CGPDSC</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPDSC" name="CGPDSC" />
    </div>
    <div class="form-group">
      <label for="">CGPPIM</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPPIM" name="CGPPIM" />
    </div>
    <div class="form-group">
      <label for="">CGPPTR</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPPTR" name="CGPPTR" />
    </div>
    <div class="form-group">
      <label for="">CGPLCUSR</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPLCUSR" name="CGPLCUSR" />
    </div>
    <div class="form-group">
      <label for="">CGPLCDAT</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPLCDAT" name="CGPLCDAT" />
    </div>
    <div class="form-group">
      <label for="">CGPDLT</label>
      <input type="text" class="form-control" [ngModel]="customer.CGPDLT" name="CGPDLT" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
